header{
    background-color: #3d2a3d;
    height: 10rem;
}
body{
    margin: 0;
    padding: 0;
    background-color: #b3b2d7;
}
.menu{
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav li{
    margin: 30px 0 0 23px;
    text-align: center;
}
nav a{
    color:#F5F5F5;

}
.menu__list__item{
    margin-top: 60px;
    font-size: 24px;
    font-family: 'philosopher';
}

.about__container{
    display: grid;   
    justify-items:center;
    font-size: 22px;
    margin-top: 60px;
}
p {
    text-indent: 1.2em;
    font-family: 'philosopher';
    text-align: center;
}
.skills__title{
    display: grid;   
    justify-items:center;
    font-size: 28px;
    margin-top: 85px;
    font-family: 'michroma';
}
.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}
.skills__box li{
    display: flex;
    width: 23%;
}
.skills__img{
    position: relative;
    display: inline-flex;
    width: 10rem;
    height: 10rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 5rem;
    transition: 450ms;
}
.skills__img :hover{
    opacity: 0.9;
    transform: scale(1.1);
}
.skills__name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 6rem;
    margin-top: 1rem;
    font-family: 'michroma';
}
.experience__section__title{
    display: grid;   
    justify-items:center;
    font-size: 28px;
    margin-top: 95px;
    font-family: 'michroma';
}
.experiencie__box{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
.experience__img{
    position: relative;
    display: inline-flex;
    width: 26rem;
    height: 28rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 5rem;
    transition: 450ms;
}
.experience__title{
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 6rem;*/
    margin-right: 6rem;
    margin-top: 18rem;
    font-family: 'michroma';
    font-size: 18px;
}

#contacto{
    background-color: #817fb1;
    height: 30rem;
    display: grid;
    
}
.caja{
    text-align: center;
    margin: 25px;
    margin-right: 9rem;
    margin-top: -9rem;
    float: right;
    
}
.formcontato__img{
    position: relative;
  display: inline-flex;
    width: 10rem;
    height: 10rem;
    margin-right: 4rem;
    margin-left: 40rem;
    margin-top: 2rem;
}
.formcontato__text{

    margin-left: -51rem;
    margin-top: 1rem;
    font-family: 'michroma';
    font-size: 15px;
    text-align: end;

}

.formcontato__title{
    display: inline;
    font-size: 28px;
    margin-top: -25px;
    margin-bottom: 20px;
    font-family: 'philosopher';
    text-align: center;
}
.formcontato--esquerda{
    display: inline;
}
.formcontato__text{
    display: inline;
    position: absolute;
    margin-top: 5rem;
}
.formcontato__form{
    display: inline-block;
    position: relative;
    margin-left: 7rem;
    margin-right: 19rem;
    margin-top: -10rem;

}
.formcontato__input{
    border-color: darkgrey;
    border-radius: 9px;
    padding: 7px;
    margin-bottom: 3px;
}
.formcontato__textarea{
    border-color: darkgrey;
    border-radius: 7px;
    padding: 8px;
}
.formcontato__botao{
    border-color: darkgrey;
    border-radius: 12px;
}
.formcontato__botao:hover{
    font-size: 16px; }
