header{
    background-color: #3d2a3d;
    height: 10rem;
}
body{
    margin: 0;
    padding: 0;
    background-color: #b3b2d7;
}
.menu{
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav li{
    margin: 30px 0 0 23px;
    text-align: center;
}
nav a{
    color:#F5F5F5;

}
.menu__list__item{
    margin-top: 60px;
    font-size: 24px;
    font-family: 'philosopher';
}

.about__container{
    display: grid;   
    justify-items:center;
    font-size: 22px;
    margin-top: 60px;
}
p {
    text-indent: 1.2em;
    font-family: 'philosopher';
    text-align: center;
}
.skills__title{
    display: grid;   
    justify-items:center;
    font-size: 28px;
    margin-top: 85px;
    font-family: 'michroma';
}
.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}
.skills__box li{
    display: flex;
    width: 23%;
}
.skills__img{
    position: relative;
    display: inline-flex;
    width: 10rem;
    height: 10rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 5rem;
    transition: 450ms;
}
.skills__img :hover{
    opacity: 0.9;
    transform: scale(1.1);
}
.skills__name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 6rem;
    margin-top: 1rem;
    font-family: 'michroma';
}
.experience__section__title{
    display: grid;   
    justify-items:center;
    font-size: 28px;
    margin-top: 95px;
    font-family: 'michroma';
}
.experiencie__box{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
.experience__img{
    position: relative;
    display: inline-flex;
    width: 26rem;
    height: 28rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 5rem;
    transition: 450ms;
}
.experience__title{
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 6rem;*/
    margin-right: 6rem;
    margin-top: 18rem;
    font-family: 'michroma';
    font-size: 18px;
}
#contacto{
    background-color: #817fb1;
    height: 30rem;
}
.formcontato__img{
    position: relative;
    display: inline-flex;
    width: 10rem;
    height: 10rem;
    margin-right: 4rem;
    margin-left: 8rem;
    margin-top: 5rem;
    transition: 450ms;
}
.formcontato__text{

    margin-left: 6rem;
    margin-top: 1rem;
    font-family: 'michroma';
    font-size: 15px;
}
.formcontato__title{
    display: block;
    font-size: 28px;
    margin-top: -25px;
    margin-bottom: 20px;
    font-family: 'philosopher';
    text-align: center;
}
.formcontato--esquerda{
    display: contents;
}
.formcontato__text{
    display: inline-block;
    position: absolute;
    margin-top: 5rem;
}
.formcontato__form{
    display: table-caption;
}
.formcontato__input{
    border-color: darkgrey;
    border-radius: 7px;
}
.formcontato__textarea{
    border-color: darkgrey;
    border-radius: 7px;
}
.formcontato__botao{
    border-color: darkgrey;
    border-radius: 7px;
}
.formcontato__botao:hover{
    font-size: 11px;
/*.experience__section__title{
    display: grid;   
    justify-items:center;
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 60px;
}
.experiencie__box{
    display: grid;
    grid-template-areas: 
    "box1"
    "box2";
    grid-template-columns: auto;
    grid-template-rows: 40% 40% 40% 40%;
}
.experiencie__box{
    grid-template-columns: 30%;
    grid-template-rows: 45%;
    height: 30%;

}











/**:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
/*   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 
Lo que es el BEM?
BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.
Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}